@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-active {
      @apply decoration-2 underline-offset-4 font-bold underline;
    }
    .nav-hover {
     @apply hover:text-primary hover:font-semibold duration-150;
    }
    .no-spinner {
      -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }